@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&family=Open+Sans:ital,wght@0,600;1,600&family=Prompt:wght@100;200;300;500;600;700;800;900&family=Questrial&family=Zen+Dots&display=swap');

/*Fuente para el logo de la esquina superior izquierda*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&family=Open+Sans:ital,wght@0,600;1,600&family=Prompt:wght@100;200;300;500;600;700;800;900&family=Questrial&family=Zen+Dots&display=swap'); 


/* reset de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'questrial', sans-serif; /* Le aplico la tipografia a todos los elementos de mi programa */
}

/* Definicion de las variables para los colores */
:root {
  --clr-main: aqua;
  --clr-white: white;
  --clr-blue: blue;
  --clr-green: darkgreen;
  --clr-darkblue: darkblue;
  --clr-orange: orange;
  --clr-darkorange: darkorange;
}

.wrapper {
  margin-top: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.header {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-darkblue);
  color: var(--clr-white);
}

.logo {
  font-size: 3rem;
  font-weight: 1000;
  text-align: center;
  margin-left: 5rem;
  margin-top: 1.5rem;
}

.logoMenu {
  display: flex;
  width: 18%;
  font-family: 'Homemade Apple', cursive;
  margin-left: 2rem;
}

.menu {
  list-style: none;
  display: flex;
  background-color: var(--clr-white);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.menu :hover {
  color: var(--clr-darkblue);
}

.tituloPrincipal {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 10;
}

.boton.menu {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  gap: .3rem;
  font-weight: 700;
  padding: .8rem;
  align-items: center;
  text-decoration: none;  /*para que no quede subrayado cuando lo tocamos */

}

.menu.cursosInscripto {
  font-size: 0.7rem;
  margin-left: 23rem;
}

/************************* Manejo de cursos ************************/
.contenedorCursos {
  
}